#item-manager {
    position: relative;
    z-index: 10;
}

#server-manager {
    margin-bottom: 20px;
}

#recipe-manager {
    margin-bottom: 20px;
}

#search {
    margin-top: 20px;
}

#calculator {
    margin-top: 20px;
}

nav {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
